/*General and Header*/

/*Caprasimo*/

@font-face {
  font-family: "Caprasimo";
  src: url("https://fonts.gstatic.com/s/caprasimo/v2/8vIgQ-qYl8Uvl9dgtoYWt3wNDOjZX4mY.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*Josefin Sans*/

@font-face {
  font-family: "Josefin Sans";
  src: url("https://fonts.gstatic.com/s/josefinsans/v21/Qw3PZQNVED7rKGKxtqIqX5EAn4q6.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

/*Ysabeau Infant*/

@font-face {
  font-family: "Ysabeau Infant";
  src: url("https://fonts.gstatic.com/s/ysabeauinfant/v6/7rMCoKFzvHmuDlOxVwETPq3MwAE2.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
}

html {
  font-family: "Caprasimo", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #f4f0db;
}

header {
  position: fixed;
  top: 0rem;
  min-height: 5rem;
  max-height: 8.625rem;
  border-bottom: 5px solid #000;
  background-color: #f0f8ff;
  width: 100%;
  z-index: 3;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}

header h1 {
  margin-left: 1.25rem;
}

header p {
  margin-left: 2.5rem;
}

header ul {
  list-style: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

li {
  display: inline-block;
  margin-right: 0.5rem;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 2rem;
}

h2 {
  font-size: 2.5rem;
}

span {
  color: #008000;
}
h4 {
  font-size: 1.8rem;
}

/*Menu starter*/

.menu-center {
  text-align: center;
  min-width: 50%;
  max-width: 60%;
  padding: 1rem 1rem;
  margin: 10rem auto auto auto;
  border: 0.8rem solid #00004d;
}

.starter-menu {
  text-align: center;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/*Footer*/

footer {
  margin-top: 0.8rem;
  border-top: 5px solid #000;
}

footer a {
  font-size: 1rem;
}

footer h1 {
  margin-left: 0.8rem;
}

footer p {
  margin-left: 0.8rem;
}

@media screen and (min-width: 360px) and (max-width: 414px) {
  /*  header {
          height: 5rem;
      } */

  header h1 {
    font-size: 1.7rem;
    padding-bottom: 0.5rem;
  }

  header p {
    display: none;
  }

  header a {
    font-size: 1rem;
  }
}
